.project-sum {
  margin: 15vh auto;
}

.project-sum__title,
.project-sum__btn {
  margin: 0 auto;
  text-align: center;
}

.project-sum__title {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  margin-bottom: 4rem;
}

.project-sum__btn {
  margin-top: 4rem;
}
