.btn {
  cursor: pointer;
  background: var(--color-primary-100);
  color: var(--white);
  text-decoration: none;
  border: none;
  padding: 0.5em 1em;
  text-transform: uppercase;
  border-radius: 0.25em;
}

.btn:hover,
.btn:focus {
  background: var(--color-primary-200);
}
