/* Project list */

.project-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  margin: 3rem auto;
}

/* Card ***********************************************************/

.card {
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  color: var(--white);
  border-radius: var(--size-2);
  overflow: hidden;
  transition: transform 500ms ease;
  box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.15);
}

.card:hover,
.card:focus-within {
  transform: scale(1.05);
}

.card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(20 0% 0% / 0.4) 20%,
    hsl(0 0% 0% / 1)
  );
}

.card-title {
  font-size: 1.5rem;
  position: relative;
  padding-bottom: 0.5rem;
  width: max-content;
}

.card-title::after {
  content: "";
  position: absolute;
  left: calc(var(--padding) * -1);
  bottom: 0;
  width: calc(100% + var(--padding));
  height: 4px;
  background: var(--color-success-500);

  transform-origin: left;
  transition: transform 500ms ease;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
  transform: scaleX(1);
}

.card-body {
  /* Lightening the body text */
  color: rgb(255, 255, 255 / 0.85);
  margin-bottom: 0.5rem;
}

.card-date {
  display: block;
  margin-bottom: 1rem;
  font-weight: var(--fw-semi-bold);
}

@media (hover) {
  .card-content {
    transform: translateY(55%);
    transition: transform 500ms ease;
  }
  .card:hover .card-content,
  .card:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }

  .card:focus-within .card-content {
    transition-duration: 0ms;
  }

  .card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  .card:hover .card-content > *:not(.card-title),
  .card:focus-within .card-content > *:not(.card-title) {
    opacity: 1;
    transition-delay: 600ms;
  }

  .card-title::after {
    transform: scaleX(0);
  }
}

@media (min-width: 700px) {
  .project-list {
    margin: 10rem auto;
  }
}
