.container {
  max-width: 1140px;
  width: 90%;
}

.bold {
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 700px) {
  .container {
    width: 70%;
  }
}

.title {
  font-size: 2rem;
}

@media (min-width: 900px) {
  .title {
    font-size: 3.125rem;
  }
}

/* about-me classes */
.about {
  margin: 20vh auto;
  width: 45%;
}

.about h1 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  margin-bottom: 3rem;
}

.about p {
  font-size: clamp(1rem, 4vw, 1.2rem);
}

/* contact styels */
.contact {
  margin: 20vh auto;
}

.contact > * {
  margin-bottom: 0.5rem;
}

.contact h1 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  margin-bottom: 2rem;
}

.contact p {
  font-size: 1.2rem;
}

.contact a {
  color: rgb(46, 130, 176);
}

/* layout styles */
.main {
  flex: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
